[mysqld]
ndbcluster
#ndb-connectstring=10.0.0.11     # IP address for server management node
default_storage_engine=ndbcluster     # Define default Storage Engine used by MySQL
 
[mysql_cluster]
ndb-connectstring=10.0.0.11     # IP address for server management node